:root {
  --accent-color: #00acff;
  --text-color: #000;
  --hover-color: #00acff;
}

/* Reset default margins */
body,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 500;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.logo {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  list-style: none;
}

.nav__item {
  margin-right: 20px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  color: var(--text-color);
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  font-size: 12px;
}

.nav__link:hover {
  color: var(--hover-color);
}

.nav__link.is-active {
  color: var(--accent-color);
}

.nav__link.is-active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}